*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;

}
.sub-header{
    height:100vh;
background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background.jpg);   
background-size:cover ;
}

nav{
    display:flex;              /* this for img and text align one after another*/           
    padding:0.5% 0.5%;              /* space between top bottom left and right is 2% */
    justify-content: space-between;       /* space willl be created between img and listed text*/
        align-items:center;
}
nav img{
    width:150px;
    height: 50px;
}
.nav-link ul  li{
    list-style-type: none;
    display:inline-block ;
    padding:50px 30px;
    position: relative;
    }
    .nav-link ul  li a{
        color:#fff;
        text-decoration: none;
        font-size:17px;
    }
    .nav-link ul  li::after{
        content: '';                     /* if content is not given anything (like string) it will display nothing if we want to print line for that width has to be given */
        width:0%;
        height:3px;
        background:#f44336;
        display:block;
        margin:auto;
        transition: 0.5s;
    }
    .nav-link ul  li:hover::after{
        width:100%;
    }
    .text-box {
        width:90%;
        color:#fff;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align:center;
    }
    .text-box h1{
    font-size:40px ;
    font-weight:500;
    }
    .footer{
        text-align: center;
        margin-top:50px;
    }
    .footer h1{
        font-size: 20px;
    }
    .footer p{
        font-size: 12px;
    }
    .icons .fab{
        padding:20px;
        color:#f44336
    }
    .about-us{
        width:70%;
        margin:auto;
        margin-top:70px;
    }
    .row{
        display: flex;
    }
    .about-col{
        flex-basis: 42%;
        padding:30px 2px;
    }
    .about-col img{
        width: 100%;
    }
    .about-col p{
        font-size: 12px;
        padding:15px 0 20px
     }
     .about-col h1{
         padding-top: 0;
     }
     .button{
        display: inline-block;
        text-decoration: none;
        color:#f44336;
        border: 1px solid #f44336;
        padding:10px 20px;
        font-size:12px;
        background:transparent;
        position: relative;
}
.button:hover{
    border: 1px solid #f44336;
    background:#f44336;
    color:#fff;
    transition:1s;
}
.footer{
    margin-bottom: 100px;
}
.footer p{
    padding: 10px 0px;
}



