table{
    color:white;
    background-color:rgba(0, 0, 5, 0.836);
    border-radius:30px;
    text-align: left;
    
    }
    
    #btn
    {
    color:white;
    background-color:tomato;
    height:35px;
    width:100px;
    border-radius:25px;
    }
   
    h3{
    text-align:center;
    text-decoration:underline;
    padding:10px;
    }
    .form{
        
        margin:auto;
        align-items: center;
       position:absolute;
       top:50%;
       left:50%;
       transform:translate(-50%,-50%);
       text-align:center;
   }
    

     td{
font-size: 15px;
    }
    .form p{
        padding:10px;
        color:white;
    }
    .form p a{
        color:tomato;
    }